html,
body {
    height: 100%;
    width: 100%;
    background-color: rgba(15,27,38, 1); 
}
a:hover {
    color: #00FF55;
}
#appname {
    position: relative;
    background-color: rgba(15,27,38, 0.4);  
    border-radius: 25px;
    color: #F2F0D8;
    padding-top: 15px;
    padding-bottom: 15px;
    animation-duration: 2s;
    animation-delay: .5s;
    z-index: 2;
}
#box-todayweather {
    position: relative;
    background-color: rgba(15,27,38, 0.4);  
    border-radius: 25px;
    color: #F2F0D8;
    padding-top: 15px;
    padding-bottom: 15px;
    animation-duration: 1.5s;
    animation-delay: 2s;
    z-index: 2;
}
#box-forecast {
    background-color: rgba(15,27,38, 0.4);
    position: relative;  
    border-radius: 25px;
    color: #F2F0D8;
    padding-top: 15px;
    padding-bottom: 15px;
    animation-duration: 1s;
    animation-delay: .5s;
    z-index: 2;
}
#forecastdays {
    position: relative;
    background-color: rgba(15,27,38, 0.4);  
    border-radius: 25px;
    color: #F2F0D8;
    padding-top: 15px;
    padding-bottom: 15px;
    animation-duration: 2s;
    animation-delay: .5s;
    z-index: 2;
        margin-left: 1px;
}
#toggle {
    position: relative;
    animation-duration: 2s;
    animation-delay: 1.5s;
    z-index: 2;
}
#date_time {
    position: absolute;
    animation-duration: 3s;
    animation-delay: 2s;
    z-index: 2;
    color: #00FF55;
    font: bold;
    font-family: 'Exo', sans-serif;
    font-family: 'Russo One', sans-serif;
    opacity: 0.8;
}
#footer {
    position: relative;
    color: #F2F0D8;
    animation-duration: 3s;
    animation-delay: 2s;
    z-index: 2;
    float: right;
}
.video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    animation-duration: 5s;
    animation-delay: .5s;     
}



